// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,600");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
    background-color: var(--light);

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-nav .nav-link {
    color: #6586ef !important;

    &:hover {
        color: #4466f2 !important;
    }
}

.search-input {
    border: 1px solid #eff0f1;
    padding: 10px 10px 10px 70px;
    border-radius: 50px;
}

.search-form {
    &:after {
        position: absolute;
        content: "\f002";
        font-family: FontAwesome;
        margin-left: 15px;
        color: #8e8e8e;
    }
    &:before {
        position: absolute;
        content: "";
        width: 1px;
        height: 25px;
        background: #4466f1;
        margin-left: 3rem;
        z-index: 2;
    }
}
.Typeahead-menu {
    &.is-open {
    display: block;
    }
    &.is-closed {
        display: none;
    }
    position: absolute;
    z-index: 100;
    display: none;
    width: calc(100vw / 2.7);
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);

}
.result-item {
    position: relative;
    padding: 8px;
    border: none !important;
}
.vue-notification-group {
    top: 20px !important;
    z-index: 10000 !important;
}

.footer {
    font-size: 13px;
    color: #59626D;
}

.footer__inner {
    border-top: 1px solid #D5DCE5;
    padding: 30px 0;
}

.footer__item:not(:last-child) {
    border-bottom: 1px solid #D5DCE5;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.sub-nav {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.footer__sub-nav li:first-child {
    padding-left: 0;
}

.footer__sub-nav li {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
